.spacing{
    padding-bottom: 35px;
}
.form{
    display: grid;
}
.tips{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10%;
}
.label{
    font-weight: 400;
    margin: 0 0 5px 10%;
}
button{
    background-color: rgb(18, 105, 81);
    border: none;
    margin: 3px;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: large;
}
button:hover{
    cursor: pointer;
    background-color: rgba(75, 221, 180, 0.832);
    color: black;
}
.tipInput{
    width: 95%;
    border-radius: 5px;
    border: none;
    background: rgba(129, 190, 174, 0.258);
    margin: 3px;
    font-size: large;
    font-weight: 600;
}
.tipInput:hover{
    cursor: pointer;
}
