.spacing{
    padding-bottom: 35px;
}
.form{
    display: grid;
    margin: 25px 0 0 10%;
    font-weight: 400;
}
.form label{
    padding-bottom: 5px;
}
.moneySign{
    position: absolute;
    display: flex;
    margin: 0.7em 0 0 0.7em;
    color: gray
}
.form input{
    background-color: rgba(129, 190, 174, 0.258);
    border: none;
    padding: 10px;
    border-radius:5px;
    width: 100%;
}
input{
    text-align: right;
}
input:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px rgba(75, 221, 180, 0.832);
}
