@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(223, 250, 243);
  font-family: 'Work Sans', sans-serif;
}

